---
import { Image } from "astro:assets";

import {
    categories2,
    industry1,
    industry2,
    industry3,
    industry4,
    store1,
    store2,
    store3,
    store4,
    convenience1,
    convenience2,
    convenience3,
    convenience4,
    contact,
} from "../assets/images";
---

<div class="max-container mt-20 max-xl:p-10 max-xl:mt-0 max-sm:pt-0">
    <h2 class="uppercase text-center my-16 max-md:text-3xl max-sm:text-xl">
        grocery stores
    </h2>

    <div class="flex-col gap-20 flex">
        <div class="flex flex-col gap-10">
            <Image
                src={store1}
                class="w-full"
                alt="store-hero"
                class="max-lg:hidden"
            />

            <div class="flex gap-5 max-xl:flex-col">
                <Image
                    src={categories2}
                    class="w-full hidden max-lg:block max-sm:h-auto"
                    alt="store-hero-mobile"
                />

                <Image src={store2} class="w-full" alt="" />

                <Image src={store3} class="w-full" alt="" />

                <Image src={store4} class="w-full" alt="" />
            </div>
        </div>

        <div
            class="flex justify-between max-xl:flex-col w-full max-xl:gap-5 gap-14"
        >
            <div
                class="flex w-full justify-between gap-5 max-xl:justify-center"
            >
                <div
                    class="p-6 gap-3 flex-col flex justify-center h-36 w-64 text-center shadow-3xl rounded-xl max-xl:w-full"
                >
                    <h4 class="text-title-color">$65,000</h4>
                    <p class="text-center">Initial cost</p>
                </div>

                <div
                    class="p-6 gap-3 flex-col flex justify-center h-36 w-64 text-center shadow-3xl rounded-xl max-xl:w-full"
                >
                    <h4 class="text-title-color">$40,000</h4>
                    <p class="text-center">Incentive</p>
                </div>
            </div>

            <div
                class="flex max-sm:flex-col w-full justify-between gap-5 max-xl:justify-center"
            >
                <div
                    class="p-6 gap-3 flex-col flex justify-center h-36 w-64 text-center shadow-3xl rounded-xl max-xl:w-full"
                >
                    <h4 class="text-title-color">$16,000</h4>
                    <p class="text-center">Annual energy savings</p>
                    <p class="text-center">(Assume 285,000 kWh)</p>
                </div>

                <div
                    class="p-6 gap-3 flex-col flex justify-center h-36 w-64 text-center shadow-3xl rounded-xl max-xl:w-full"
                >
                    <h4 class="text-title-color">64%</h4>
                    <p class="text-center">Expected ROI</p>
                    <p class="text-center">(1.9 Year payback)</p>
                </div>
            </div>
        </div>

        <div class="flex justify-between max-lg:flex-col max-lg:gap-10 pr-10">
            <div class="flex-col flex gap-10 w-1/2 max-lg:w-full">
                <h3>Typical results for a mid-size grocery store project</h3>
            </div>

            <div class="flex-col flex gap-10">
                <h3>Retrofits include:</h3>
                <p>Parking lot lighting</p>
                <p>Interior and exterior lighting</p>
                <p>Retail displays</p>
                <p>Refrigerated cases</p>
            </div>
        </div>
    </div>
</div>

<style>
    /* * {
        border: 1px solid red;
    } */
</style>
